body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Body {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Nissan Brand Regular", sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.BodySpaceBefore {
	color:#000000;
	font-family:"Nissan Brand Regular", sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.Bullets {
	color:#000000;
	font-family:"Nissan Brand Regular", sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:6px;
	margin-left:18px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.CAUTION {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Nissan Brand Bold", sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:25px;
	margin-right:0;
	margin-top:18px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.CAUTIONBullets {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Nissan Brand Bold", sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:6px;
	margin-left:43px;
	margin-right:25px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.CAUTIONBulletsLastParagraph {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Nissan Brand Bold", sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:36px;
	margin-left:43px;
	margin-right:25px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.CAUTIONText {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Nissan Brand Bold", sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:25px;
	margin-right:25px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.CAUTIONTextLastParagraph {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Nissan Brand Bold", sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:36px;
	margin-left:25px;
	margin-right:25px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.CalloutsList {
	color:#000000;
	font-family:"Nissan Brand Regular", sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
search.search {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#0000ff;
	font-family:"Nissan Brand Bold", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:2px;
	margin-right:2px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.image {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:36px;
	margin-left:0;
	margin-right:0;
	margin-top:36px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Bold {
	font-style:normal;
	font-weight:bold;
}
span.CalloutOne {
	color:#ed1c24;
	font-family:"Nissan Brand Bold", sans-serif;
	font-size:1.5em;
	font-style:normal;
	font-weight:bold;
}
span.CalloutOneInText {
	color:#ed1c24;
	font-family:"Nissan Brand Bold", sans-serif;
	font-size:1.5em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-1 {
	font-variant:normal;
	text-transform:none;
}
span.CharOverride-2 {
	font-variant:normal;
	text-transform:uppercase;
}
p._idGenParaOverride-1 {
	font-size:1em;
	margin-left:7px;
}
li._idGenParaOverride-2 {
	font-size:1em;
	margin-left:25px;
}
span._idGenCharOverride-1 {
	font-size:1.801em;
}
img._idGenObjectAttribute-1 {
	height:309px;
	width:523px;
}
img._idGenObjectAttribute-2 {
	height:428px;
	width:254px;
}
img._idGenObjectAttribute-3 {
	height:222px;
	width:284px;
}
img._idGenObjectAttribute-4 {
	height:23px;
	width:26px;
}
img._idGenObjectAttribute-5 {
	height:152px;
	width:240px;
}
